---
---
@import "minima";
hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

table {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 640px;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

td, th {
  border: 1px solid transparent;
  height: 30px;
}

th {
  background: #DFDFDF;
  font-weight: bold;
}

td {
  background: #FAFAFA;
  text-align: center;
}

tr:nth-child(even) td { background: #F1F1F1; }
tr:nth-child(odd) td { background: #FEFEFE; }

a.post-link {
  display: inline;
  font-size: 15px;
}

.post-list > li {
  margin-bottom: 10px;
}
